.ab-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ab-carousel-container {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.ab-carousel-slide {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.ab-carousel-slide.active {
    pointer-events: all;
    z-index: 1;
}

.ab-carousel-slide > * {
    position: relative;
    z-index: 2;
}

.ab-carousel-slide img.ab-carousel-slide-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.ab-carousel-plugins {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    background-color: rgba(0, 0, 32, 0.25);
    pointer-events: none;
    z-index: 1;
}